<?xml version="1.0"?>
<launch>

    <!--Controled System Description-->
    <arg name="controlled_system" default="system1"/>
    
    <!--System Parameters-->
    <arg name="system_gain" default="13.2"/>
    <arg name="system_tau"  default="0.05"/>
    <arg name="initial_conditions" default="0.0"/>
    <arg name="max_output" default="13.0"/>
    <arg name="min_input" default="0.05"/>

    <!--Controller Parameters-->
    <arg name="controller_kp" default="0.095"/>
    <arg name="controller_ki"  default="0.05"/>    
    <arg name="max_control_output" default="1.0"/>
    <arg name="min_control_output" default="-1.0"/>

    <!--Generator Parameters-->
    <arg name="amplitude" default="10.0"/>
    <arg name="frequency"  default="0.1"/>

    <!--Simulation Parameters-->
    <arg name="sample_time" value="0.02"/>
    <arg name="node_rate"  value="100"/>
    
    <!--Load mesh model -->
    <arg name="urdf_model" value="$(find motor_sim)/urdf/dc_motor.urdf"/>
    <param name="/$(arg controlled_system)/robot_description" command="cat $(arg urdf_model)" />

    <group ns="$(arg controlled_system)">

        <!--Robot State Publisher -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="motor_state_pub" >
            <remap from="robot_description" to="/$(arg controlled_system)/robot_description" />
            <param name="tf_prefix" value="$(arg controlled_system)" />
        </node>

        <!--Joint model -->
        <include file="$(find motor_sim)/launch/motor_joint.launch">
            <arg name="sample_time" value="$(arg sample_time)"/>
            <arg name="node_rate"  value="$(arg node_rate)"/>
        </include>

        <!--Initialise controlled system model -->
        <include file="$(find controller_simple)/launch/control_system.launch">
            <arg name="system_gain" value="$(arg system_gain)"/>
            <arg name="system_tau"  value="$(arg system_tau)"/>
            <arg name="initial_conditions" value="$(arg initial_conditions)"/>
            <arg name="max_output" value="$(arg max_output)"/>
            <arg name="min_input" value="$(arg min_input)"/>
            <arg name="controller_kp" value="$(arg controller_kp)"/>
            <arg name="controller_ki"  value="$(arg controller_ki)"/>    
            <arg name="max_control_output" value="$(arg max_control_output)"/>
            <arg name="min_control_output" value="$(arg min_control_output)"/>
            <arg name="amplitude" value="$(arg amplitude)"/>
            <arg name="frequency"  value="$(arg frequency)"/>
            <arg name="sample_time" value="$(arg sample_time)"/>
            <arg name="node_rate"  value="$(arg node_rate)"/>
        </include>

    </group>

    <arg name="rvizconfig" default="$(find motor_sim)/rviz/motor.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> 

</launch>