<?xml version="1.0"?>
<launch>

    <!--Simulation Parameters-->
    <arg name="sample_time" default="0.02"/>
    <arg name="node_rate"  default="150"/>

    <node pkg="motor_sim" type="motor_joint.py" name="motor_joint_pub" output="screen">
        <param name="node_rate" value="$(arg node_rate)"/>
        <param name="sample_time" value="$(arg sample_time)"/>
    </node>

</launch>